---
---
@import "minimal";

/* Eliminar líneas divisorias */
hr { display: none !important; }

/* Forzar modo oscuro */
body {
    background-color: ##111184 !important;
    color: #ffffff !important;
}

/* Ocultar el pie de página de GitHub */
.site-footer { 
    display: none !important; 
}
